@mixin soldout {
  .soldout {
    position: relative;
  }

  .soldout-bg {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 60px solid $active_red;
    border-right: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid $active_red;
  }

  .soldout-text {
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 3px;
    transform: rotate(-48deg);
    color: $white;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 4px;
  }
}