%main.mypage-container.clearfix
  = render 'users/mypage/side'

  .profile
    .profile__contener
      %h2 プロフィール
      .profile__contener__head
      .profile__contener__icon
      .profile__contener__footer
        
  