%main.mypage-container.clearfix

  .mypage-container__content
    %section.mypage-container__content__user-icon
    %section.mypage-container__content__tab-container-notification-todo
    %section.mypage-container__content__tab-container


  .mypage-container__side
    %nav.mypage-container__side__nav
      %ul.mypage-container__side__nav__list
      %h3.mypage-container__side__nav__head
        メルペイ
      %ul.mypage-container__side__nav__list
      %h3.mypage-container__side__nav__head
        設定
      %ul.mypage-container__side__nav__list
