.breadcrumbs-wrap {
  height: 48px;
  line-height: 48px;
  background: $white;
  border-top: 1px solid $gray;
  font-size: 14px;
  padding-left: 90;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &__breadcrumbs{
    width: 1020px;
    margin: auto;
  }
  a {
    color: #333;
  }
  .current {
    font-weight: bold;
  }
  .icon-arrow-right {
    margin: 0 10px;
    color: #aaa;
  }
}