.categories {
  margin: 40px auto;
  width: 700px;

  &__title {
    padding: 8px 0;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;

    &__title {
      border-radius: 4px;
      min-width: 80px;
      height: 40px;
      box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
      padding: 0 30px;
      margin: 5px;
      color: $black;
      font-size: 16px;
      line-height: 40px;
      text-align: center;
      background-color: $white;
    }
  }

  &__contents {
    margin-top: 30px;
    background-color: $white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    &__title {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      box-sizing: border-box;
      background-color: $active_red;
      height: 40px;
      padding-top: 10px;
      padding-left: 30px;
      color: $white;
    }
    
    &__body {
      padding: 24px 30px 10px 30px;

      &__category-all {
        margin: 8px 0;
        font-size: 16px;
      }

      &__category-title {
        padding-top: 15px;
        padding-bottom: 5px;
        font-weight: 700;
      }

      &__category-list {
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;

        &__item {
          width: 50%;
          box-sizing: border-box;
          padding-right: 20px;
          padding-top: 8px;
          padding-bottom: 8px;
          font-size: 16px;
        }
      }
    }
  }
}