.detail-user {
  width: 700px;
  background-color: $white;
  margin: 0 auto;
  margin: 40px auto 0;
  box-sizing: border-box;

  &__header {
    background: image-url("/detail-user-bg.jpg");
    padding-top: 30px;

    a {
      color: $black;
    }

    &__avatar {
      text-align: center;
      img {
        border-radius: 50%;
        display: inline-block;
      }
    }

    &__name {
      text-align: center;
      font-size: 16px;
      padding: 20px 0;
    }

    &__info {
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      padding-bottom: 20px;
      padding-left: 10px;

      span:first-child {
        margin-right: 10px
      }
    }
  }

  &__ratings {
    display: flex;
    justify-content: center;
    padding: 10px;

    &__box {
      margin-right: 10px;
      box-sizing: border-box;
      
      &--text {
        display: inline-block;
        padding: 0 30px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__description {
    border-top: 2px solid #f5f5f5;
    padding: 20px 40px;
    
    &__text {
      white-space: pre-wrap;
      line-height: 1.5;
      font-size: 18px;
    }
  }

  @include sns-icons();

  &__items {
    &__title {
      margin: 24px 0 8px;
      font-weight: 600;
    }
    background-color: $white;
    @include other-items();
  }
}