.footer-exhibit-btn{
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;
  position: fixed;
  text-align: center;
  z-index: 2;
  .sell-link{
    display: block;
    color: inherit;
    text-decoration: none;
    &__box{
      width: 160px;
      height: 160px;
      text-align: center;
      background-color: rgb(234, 53, 45);
      border-radius: 50%;
      &__font{
        font-size: 22px;
        color: rgb(255, 255, 255);
        padding-top: 32px;
      }
      &__icon{
        width: 60px;
        height: 54px;
        margin-top: 8px;
        max-width: 100%;
        max-height: 100%;
        color: rgb(255, 255, 255);
        display: block;
        margin: 5px auto 0px;
      }
    }
  }
}
