$footer_info_width: 1024px;
$footer_fontsize: 12px;
$footer_title_fontsize: 16px;

.footer {
  * {
    box-sizing: border-box;
  }

  padding: 0 20px 10px;
  background-color: rgb(34, 34, 34);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: $footer_fontsize;
  line-height: $footer_fontsize;
  font-weight: 400;

  // 共通クラス
  &__info {
    width: $footer_info_width;
    margin: 0 auto;
    display: flex;

    &--top {
      margin-top: 18px;
      padding-right: 40px;
      vertical-align: top;
    }

    &--title {
      font-size: $footer_title_fontsize;
      line-height: $footer_title_fontsize;
      font-weight: 600;
      color: white;
    }

    &--link {
      text-decoration: none;
      color: white;
      cursor: pointer;
      line-height: 1.5em;

      &:hover {
        text-decoration: underline;
      }
    }

    &--list {
      margin-top: 16px;
      opacity: 0.7;
    }

  }

  &__about-mercari {
    &__content {

      &-iconbox {
        display: inline-block;
        margin-top: 30px;

        &--left {
          margin-right: 20px;
        }
      }

      &--icon {
        font-size: 34px;
      }
    }
  }

  &__privacy {
    width: 43%;

    &__contents-box {
      display: inline-block;
      padding-left: 10px;
      width: calc(50% - 10px);

      &:first-of-type {
        padding-left: 0;
        padding-right: 10px;
      }
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    width: $footer_info_width;
    margin: 30px auto 20px;

    &__link, &__image  {
      height: 33px;
      width: 124px;
    }

    &__image {
      &:hover {
        opacity: 0.7;
      }
    }

    &__text {
      display: inline-block;
      padding-left: 15px;
      width: 75%;
      text-align: center;
      color: white;
    }
  }
}