.mercari-header {
  background: $white;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  z-index: 3;

  img {
    vertical-align: middle;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  input {
      -webkit-writing-mode: horizontal-tb !important;
      text-rendering: auto;
      color: initial;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      -webkit-rtl-ordering: logical;
      cursor: text;
      margin: 0em;
      font: 400 11px system-ui;
  }
}

.mercari-top{
  width: 1020px;
  margin: 0px auto;
  padding: 8px 0px 0px;
  .topmein-search-band{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    .topmein-mercari{
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      height: 40px;
      margin-right: 45px;
      &__box{
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        &__icon{
          height: 36px;
          width: 134px;
        }
      }
    }
    .topmein-search-form{
      position: relative;
      width: 100%;
      &__write{
        background-color: rgb(245, 245, 245);
        font-size: 16px;
        height: 40px;
        line-height: 1.4em;
        position: relative;
        width: 100%;
        -webkit-appearance: none;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        outline: none;
        padding: 0px 50px 0px 10px;
        transition: all 0.3s ease-out 0s;
      }
      &__button{
        background-color: transparent;
        cursor: pointer;
        height: 40px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 40px;
        -webkit-appearance: none;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border-radius: 0px 4px 4px 0px;
        padding: 0px;
        &__icon{
          max-width: 100%;
          max-height: 100%;
          color: rgb(34, 34, 34);
          height: 14px;
          margin-top: 2px;
          width: 14px;
        }
      }
      }
  }

  .topmein-select-band{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 8px;
    &__left{
      display: flex;
      margin-left: -3px;
      &__category{
        cursor: pointer;
        height: 44px;
        position: relative;
        z-index: 3;
        padding: 0px 10px;
        &__tag{
          color: $black;
          display: block;
          font-size: 14px;
          font-weight: 600;
          line-height: 36px;
          white-space: nowrap;

          &:hover{
            color: rgb(0, 149, 238);
          }

          &__search{
            max-width: 100%;
            max-height: 100%;
            color: $active-red;
            height: 12px;
            margin-right: 4px;
          }
          &__bland{
            max-width: 100%;
            max-height: 100%;
            color: $active-red;
            height: 12px;
            margin-right: 4px;
          }
        }
      }
      &__category:first-child{
        padding-left: 0px;
      }
      &__category:last-child{
        padding-right: 0px;
      }
    }
    &__right{
      display: flex;
      position: relative;
      list-style: none;
      &__command{
        &:first-child {
          padding-left: 0px;
        }
        height:44px;
        padding: 0px 14px;
        &__box{
          color: $black;
          -webkit-box-align: center;
          align-items: center;
          display: flex;
          font-size: 14px;
          height: 32px;
          transform: scale(1);
          transition: all 0.3s ease-out 0s;
          &__mypage{
            margin-right: 10px;
            width: 32px;
            border-radius: 50%;
            overflow: hidden;
            vertical-align: middle;
          }
          &__mark{
            max-width: 100%;
            height: auto;
            max-height: 100%;
            color: rgb(204, 204, 204);
            margin-right: 10px;
          }
          &__menu{
            max-width: 100%;
            height: auto;
            max-height: 100%;
            color: rgb(204, 204, 204);
            margin-right: 10px;
            width: 17px;
          }
          &__icon{
            background-color: $active-red;
            color: $white;
            font-size: 12px;
            height: 20px;
            left: 6px;
            line-height: 20px;
            position: absolute;
            text-align: center;
            top: -2px;
            width: 20px;
            border-radius: 50%;
          }

          &--new {
            text-align: center;
            a {
              background-color: rgb(234, 53, 45);
              color: rgb(255, 255, 255);
              display: block;
              font-size: 14px;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(234, 53, 45);
              border-image: initial;
              border-radius: 4px;
              padding: 8px 10px;
            }
          }

          &--login {
            text-align: center;
            margin-left: 11px;
            a {
              background-color: rgb(255, 255, 255);
              color: rgb(0, 149, 238);
              display: block;
              font-size: 14px;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(0, 149, 238);
              border-image: initial;
              border-radius: 4px;
              padding: 8px 10px;
              transition: all 0.3s ease-out 0s;
              &:hover {
                background-color: rgb(0, 149, 238);
                color: $white;
                transition: all 0.3s ease-out 0s;
              }
            }
          }
        }
        &__command:first-child{
          padding-left: 0px;
        }
        &__command:nth-child(2){
          padding: 0px 14px;
        }
        &__command:last-child{
          padding-right: 0px;
        }
      }
    }
    &__user{
      display: flex;
      &__signin{
        text-align: center;
        &__box{
          background-color: $active-red;
          color: $white;
          display: block;
          font-size: 14px;
          border-width: 1px;
          border-style: solid;
          border-color: $active-red;
          border-image: initial;
          border-radius: 4px;
          padding: 8px 10px;
          text-decoration: none;
        }
      }
      &__logout{
        text-align: center;
        margin-left: 11px;
        &__box{
          background-color: $white;
          color: rgb(0, 149, 238);
          display: block;
          font-size: 14px;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(0, 149, 238);
          border-image: initial;
          border-radius: 4px;
          padding: 8px 10px;
          transition: all 0.3s ease-out 0s;
          text-decoration: none;
        }
      }
    }
  }
}

// カテゴリーのドロップダウン
// 参考URL（コピペ）：https://allabout.co.jp/gm/gc/23911/7/
ul.ddmenu {
  margin: 0px;
  padding: 0px 0px 0px 15px;
  position: relative;

  li {
    width: 100%;
    display: inline-block;
    list-style-type: none;
    height: 44px;

    // 「カテゴリーから探す」にマウスが乗った時、2階層目を表示
    &:hover > ul {
      display: block;
    }
  }

  a {
    background-color: $white;
    display: block;
    height: 100%;
  }

  ul {
    margin: 0px;
    padding: 0px;
    display: none;
    position: absolute;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #eee;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    top: 44px;
  }

  // 1階層目の要素
  ul li {
    box-sizing: border-box;
    width: 224px;
    

    a {
      line-height: 44px;
      text-align: left;
      padding-left: 15px;
      font-weight: normal;

      &:hover {
        background-color: $active-red;
        color: $white;
      }
    }
  }

  // 2階層目および3階層目の要素
  ul ul {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  // 3階層目のみの設定
  ul ul ul {    
    li {
      box-sizing: border-box;
      width: 320px;
      
      a {
        line-height: 44px;
        text-align: left;
        padding-left: 15px;
        font-weight: normal;

        &:hover {
          background-color: $active-red;
          color: $white;
        }
      }
    }
  }
}