.listings {
  a {
    color: $black;
  }

  &__title {
    padding: 28px 0;
    padding-left: 15px;
    background-color: lighten($gray, 5%);
    font-size: 16px;
  }

  &__content {
    background-color: $white;
    width: 100%;

    &__list {
      display: flex;
      justify-content: space-between;
      text-align: center;

      &__title {
        width:100%;
        height: 100%;
        background-color: $gray;
        font-size: 16px;
        font-weight: bold;

        a {
          display: inline-block;
          padding: 30px;
          width: 100%;
          box-sizing: border-box;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .active {
        border-top: 2px solid $active_red; 
        background-color: $white;
      }
    }

    &__items {
      box-sizing: border-box;

      &__not-found {
        padding-top: 160px;
        padding-bottom: 60px;
        background-image: image-url("/logo-gray-icon.svg");
        background-position: top 20% left 50%;
        background-size: 10%;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: $dark_gray;
      }

      &__found {
        &:hover {
          background-color: $gray;
          opacity: 0.8;
        }
      }

      .icon-arrow-right {
        text-align: right;
        line-height: 50px;
      }
    }

    &__item {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 15px;
      box-sizing: border-box;

      &__image {
        margin-right: 20px;
        box-sizing: border-box;
        img {
          max-width: 50px;
          max-height: 50px;
        }
      }

      &__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title {
          font-size: 16px;
          opacity: 0.8;
        }

        &__text {
          color: darken($dark_gray, 20%);
        }

        &__like {
          margin-right: 5px;
          color: darken($dark_gray, 40%);
        }

        &__comment {
          margin-right: 5px;
          color: darken($dark_gray, 40%);
        }

        &__tag {
          display: inline-block;
          box-sizing: border-box;
          background-color: rgb(0, 149, 238);
          color: $white;
          padding: 6px;
          border-radius: 4px;
          font-weight: bold;
          font-size: 12px;

          &--state {
            background-color: goldenrod;
          }
        }

        .icon-like, .icon-comment {
          display: inline-block;
          margin-bottom: 5px;
        }
      }
    }
  }
}