@include mercari-style();

.logout {

  // 一番上のボックス
  &__container {
    box-sizing: border-box;
    background-color: $white;
  }

  // フォームのボックス
  &__form {
    box-sizing: inherit;
    padding: 64px;
  }

  // ボタンが入っているボックス
  &__content {
    box-sizing: inherit;
    max-width: 320px;
    margin: 0 auto;
  }

  // ボタン
  &__submit {
    @include button();
  }

}