@include mercari-style();

.logout {

  // 一番上のボックス
  &__container {
    box-sizing: border-box;
    background-color: $white;
  }

  // フォームのボックス
  &__form {
    box-sizing: inherit;
    padding: 64px;
  }
  
  // ボタン
  &__submit {
    @include button();
    max-width: 320px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

}