@include mercari-style();
@include bold();
@include hidden-large();
@include lazyloaded();

.mypage-container {
  @include clearfix();
  margin: 0 auto;
  width: 1020px;
  padding: 40px 0 40px;

  .content {
    float: right;
    width: 700px;

    .user-icon {
      height: 200px;
      position: relative;
      // padding: 20px;
      background: image-url("/user-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      >a {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        color: $black;
      }
      figure {
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
      }
      h2 {
        margin: 8px 0 0;
        font-size: 14px;
      }
      &__number {
        margin: 8px 0 0;
        font-size: 0;
        div {
          display: inline-block;
          font-size: 14px;
          +div {
            margin: 0 0 0 16px;
          }
        }
      }
      span {
        margin: 0 0 0 8px;
        font-size: 16px;
      }
    }

    .tab-container-notification-todo {
      margin: 0;
      background: $white;
      .tabs {
        border: 0;
        background: $gray;
        font-size: 0;
        li {
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          &.active {
            background: $white;
            a {
              border-top: 2px solid $active_red;
            }
          }
        }
        a {
          position: relative;
          display: block;
          color: $black;
          font-size: 16px;
          line-height: 72px;
        }
        &__nav-number {
          position: absolute;
          top: 16px;
          right: 2px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: $active_red;
          text-align: center;
          line-height: 24px;
          color: $white;
          transform: translate(0, -50%);
        }
      }
      .tab-content {
        &__items {
          &.tab-pane {
            display: none;
            &.active {
              display: block;
            }
          }
          li:first-child {
            border-bottom: 1px solid $gray;
          }
          li:last-child {
            border: 0;
            min-height: initial;
          }
          li {
            position: relative;
            border-bottom: 1px solid $gray;
            min-height: 80px;
          }
          &__item {
            display: block;
            padding: 16px;
            color: $black;
            // min-height: 80px;
            figure {
              margin: 0;
              position: relative;
              overflow: hidden;
              float: left;
              width: 48px;
              height: 48px;
            }
            img {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 100%;
            }
            &__body {
              margin: 0 40px 0 68px;
              &__text {
                overflow: hidden;
                max-height: 4.4em;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                line-height: 1.5;
              }
            }
            time {
              display: inline-block;
              color: #888;
            }
            .icon-time {
              &::before {
                content: '\f017'
              }
              font-family: FontAwesome;
              font-style: normal;
              font-size: 16px;
              margin: 0 8px 0 0;
            }
            .icon-arrow-right {
              &::before {
                content: '\f054';
              }
              font-family: FontAwesome;
              font-style: normal;
              display: inline-block;
              position: absolute;
              top: 50%;
              right: 16px;
              // color: $dark_gray;
              transition: all ease-out .2s;
            }
          }
          &__go-list {
            padding: 16px;
            a {
              display: block;
              height: 56px;
              margin: 0 auto;
              background: $gray;
              color: $black;
              line-height: 56px;
              text-align: center;
            }
          }
          &__item-not {
            padding: 160px 0 60px;
            background: image-url("/logo-gray-icon.svg");
            background-repeat: no-repeat;
            background-position: center 40px;
            background-size: 78px 85px;
            text-align: center;
            font-size: 16px;
            color: $dark_gray;
          }
        }
      }
    }

    .tab-container {
      margin: 40px 0 0;
      background: $white;
      .tab-head {
        padding: 0 16px;
        background: #fafafa;
        font-size: 16px;
        line-height: 72px;
      }
      .tabs {
        border: 0;
        background: $gray;
        font-size: 0;
        li {
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          &.active {
            background: $white;
            a {
              border-top: 2px solid $active_red;
            }
          }
        }
        a {
          position: relative;
          display: block;
          color: $black;
          font-size: 16px;
          line-height: 72px;
        }
      }
      .tab-content {
        &__items {
          &.tab-pane {
            display: none;
            &.active {
              display: block;
            }
          }
          li:first-child {
            border-bottom: 1px solid $gray;
          }
          li:last-child {
            border: 0;
            min-height: initial;
          }
          li {
            position: relative;
            border-bottom: 1px solid $gray;
            min-height: 80px;
          }
          &__item {
            display: block;
            padding: 16px;
            color: $black;
            figure {
              margin: 0;
              position: relative;
              overflow: hidden;
              float: left;
              width: 48px;
              height: 48px;
            }
            img {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 100%;
            }
            &__body {
              margin: 0 40px 0 68px;
              &__text {
                overflow: hidden;
                max-height: 4.4em;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                line-height: 1.5;
              }
            }
          }
          &__go-list {
            padding: 16px;
            a {
              display: block;
              height: 56px;
              margin: 0 auto;
              background: $gray;
              color: $black;
              line-height: 56px;
              text-align: center;
            }
          }
          &__item-not {
            padding: 160px 0 60px;
            background: image-url("/logo-gray-icon.svg");
            background-repeat: no-repeat;
            background-position: center 40px;
            background-size: 78px 85px;
            text-align: center;
            font-size: 16px;
            color: $dark_gray;
          }
        }
      }
    }
  }


  .side {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;

    nav {
      .items {
        li:first-child {
          border: 0;
        }
        li {
          border-top: 1px solid $gray;
        }
        &__item {
          &.active {
            background: $gray;
            font-weight: 600;
            .icon-arrow-right {
              color: $black;
            }
          }
          position: relative;
          display: block;
          max-height: 48px;
          padding: 16px;
          background: $white;
          font-size: 14px;
          color: $black;
          &__nav-number {
            position: absolute;
            top: 50%;
            right: 32px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: $active_red;
            text-align: center;
            line-height: 24px;
            color: $white;
            transform: translate(0, -50%);
          }
          .icon-arrow-right {
            &::before {
              content: '\f054';
            }
            font-family: FontAwesome;
            font-style: normal;
            display: inline-block;
            position: absolute;
            // top: 50%;
            right: 16px;
            color: $dark_gray;
            transition: all ease-out .2s;
          }
        }
      }

      .items-head {
        margin: 40px 0 5px;
        font-size: 16px;
      }
    }
  }

}