.profile{
  width: 700px;
  float: right;

  &__contener{
    background-color: #fff;

    h2{
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
    }
  }

  &__greeting{

    &__icon{
      padding: 72px 16px 24px;
      background: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?45085161");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
    }
      figure{
        display: inline-block;
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        vertical-align: middle;
        margin: 0;
        border-radius: 50%;

        img{
          width: 60px;
          height: 60px;
          text-align: center;
        }
      }
      .input-box {

        width: 220px;
        margin: 0 0 0 8px;
        vertical-align: middle;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        line-height: 1.5;
        font-size: 16px;
        box-sizing: border-box;
      }

    }

  &__sentence{
    padding: 40px 16px;
    background-color: #fff;

    textarea {
      min-height: 216px;
      display: block;
      width: 100%;
      max-width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      color: cornflowerblue;
      font-size: 16px;
      line-height: 1.5;
      box-sizing: border-box;
    }

    &__change_content{
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      margin: 16px 0 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      text-align: center;

      button{
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        font-size: 14px;
      }
    }
  }
}