.profile{
  width: 700px;
  float: right;  

  &__contener{
    background-color: #fff;

    h2{
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
    }
  }

  &__greeting{
    &__icon{
      padding: 72px 16px 24px;
      background: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?45085161");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      font-size: 0;
      display: flex
    }
      figure{
        // width: 60px;
        height: 60px;
        overflow: hidden;
        text-align: center;
        font-size: 0;
        display: flex;
        margin: 0 auto;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
        border-radius: 50%;
      // }
      //   &__img{
      //     position: relative;
        img{
          max-width: 100%;
          max-height: 100%;
          text-align: center;
        }
        input[type=text] {
          width: 220px;
          // margin: 0 0 0 8px;
          // vertical-align: middle;
          // height: 48px;
          // padding: 10px 16px 8px;
          // border-radius: 4px;
          // border: 1px solid #ccc;
          // background: #fff;
          // line-height: 1.5;
          // font-size: 16px;  
        }
      }
    }

  &__sentence{
    padding: 40px 16px;
    background-color: #fff;
    
  
    
    &__text{
      // min-height: 216px;
      display: block;
      // width: 100%;
      max-width: 100%;
      min-height: 104px;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #fff;
      color: cornflowerblue;
      font-size: 16px;
      line-height: 1.5;
    }


    &__change_content{
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      margin: 16px 0 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      
      // &__submit{
      //   display: block;
      //   width: 100%;
      //   // line-height: 48px;
      //   font-size: 14px;
      //   background: #ea352d;
      //   border: 1px solid #ea352d;
      //   color: #fff;
      // }
      button{
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: center;
      }
    }
  }
}