.registration-card {
  background-color: $white;
  margin: 0;
  padding: 0;


  &__head {
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
  }


  &__body {
    padding: 64px;
    border-top: 1px solid #f5f5f5;

    &__upper {
      max-width: 320px;
      margin: 0 auto;
      &__head {
        font-size: 16px;
      }
    }

    &__inner {
      padding: 24px 0;
      border-bottom: 1px solid #eee;

      ul {
        li {
          display: list-item;
          form {
            max-width: 320px;
            margin: 0 auto;
            figure {
              margin: 0 auto;
            }
          }
        }
      }
      &__card-info {
        margin: 8px 0 0;
        font-size: 16px;
      }
      &__delete {
        cursor: pointer;
        position: relative;
        float: right;
        padding: 4px 6px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid $active_red;
        color: $active_red;
      }

      &__add-card {
        max-width: 320px;
        margin: 0 auto;
        &__btn {
          @include button();
          text-align: center;
          margin-bottom: 8px;
          a {
            display: block;
            color: $white;
            .icon-card {
              &::before {
                content: '\f09d';
              }
              font-family: FontAwesome;
              font-style: normal;
              font-size: 16px;
              margin: 0 8px 0 0;
            }
          }
        }
      }
    }

    &__lower {
      a {
        display: block;
        margin: 40px 0 0;
        text-align: right;
        color: #0099e8;
        .icon-right-arrow {
          &::before {
            content: '\f054';
          }
          font-family: FontAwesome;
          font-style: normal;
          display: inline-block;
          margin: 0 0 0 8px;
        }
      }
    }

  }
}