.pc-header-guide-box

  .topmein-search-band
    
    .topmein-mercari-icon
    
      .topmein-mercari-icon__m
        = image_tag('https://www-mercari-jp.akamaized.net/assets/img/common/jp/logo_horizontal.png?2394192159')
    .topmein-search-form

  .topmein-select-band
    .topmein-search-category
      .topmein-search-category__box
        カテゴリーから探す
      .topmein-search-category__box
        ブランドから探す
    %ul.topmein-select-command
      %li.topmein-select-command__box おしらせ
      %li.topmein-select-command__box やることリスト
      %li.topmein-select-command__box マイページ