.pc-header-guide-box

  .topmein-search-band
    
    .topmein-mercari-icon
      .topmein-mercari-icon__m

    .topmein-search-form

  .topmein-select-band
    .topmein-search-category
      .topmein-search-category__box
        カテゴリーから探す
      .topmein-search-category__box
        ブランドから探す
    %ul.topmein-select-command
      %li.topmein-select-command__box おしらせ
      %li.topmein-select-command__box やることリスト
      %li.topmein-select-command__box マイページ