.sellpage
  %header.sellheader
    %h1
      = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2482339763"),'https://www.mercari.com/jp/'


  %main.sellmain
    %section.sellmain__page
      #sell_list
        %div{"data-reactroot":  ""}
          .sellmain__page__box
            %h2.sellmain__page__box__top 商品の情報を入力
            %form.sellmain__page__box__form
              .sellmain__page__box__form__upload
                %h3.sellmain__page__box__form__upload__haed
                  / react-text: 7
                  出品画像
                  / /react-text
                  %span.require_sheet 必須
                %p 最大10枚までアップロードできます
                .sellmain__page__box__form__upload__first
                  .sellmain__page__box__form__upload__first__phone
                    .sellmain__page__box__form__upload__first__phone__items
                      %ul
                  .sellmain__page__box__form__upload__first__pc
                    %input.sellmain__page__box__form__upload__first__pc__print{multiple: "multiple", name: "image1",style: "display: none;", type: "file"}
                    %pre.sellmain__page__box__form__upload__first__pc__text
                      :preserve
                        ドラッグアンドドロップ
                        またはクリックしてファイルをアップロード      
                    %i.icon-camera

              .sellmain__page__box__form__content
                .sellmain__page__box__form__content__group
                  %label
                    商品名
                    %span.require_sheet 必須
                  %div
                    %input.input-box{placeholder: "商品名（必須 40文字まで)", value: ""}/
                .sellmain__page__box__form__content__group
                  %label 
                    商品の説明
                    %span.require_sheet 必須
                  %textarea.textarea-box{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"}

              .sellmain__page__box__form__content.clearfix
                %h3.sellmain__page__box__form__content__sub 商品の詳細
                .sellmain__page__box__form__content__box
                  .sellmain__page__box__form__content__box__details
                    %label 
                      カテゴリー
                      %span.require_sheet 必須
                    %div
                      .select-block
                        %i.icon-arrow-bottom
                        %select.select-block__choice
                          -# %option 以下レディースやメンズなどの選択view
                  .sellmain__page__box__form__content__box__details
                    %label
                      商品の状態
                      %span.require_sheet 必須
                    .select-block
                      %i.icon-arrow-bottom
                      %select.select-block__choice
                      -# %option　以下　状態のview

              .sellmain__page__box__form__content.clearfix
                %h3.sellmain__page__box__form__content__sub 配送について
                =link_to "?" , "/jp/help_center/article/68/" ,target:"_blank", class:"question-mark"
                .sellmain__page__box__form__content__box
                  .sellmain__page__box__form__content__box__details
                    %label
                      発送料の負担
                      %span.require_sheet 必須
                    .select-block
                      %i.icon-arrow-bottom
                      %select.select-block__choice
                  .sellmain__page__box__form__content__box__details
                    %label
                      発送元の地域
                      %span.require_sheet 必須
                    .select-block
                      %i.icon-arrow-bottom
                      %select.select-block__choice
                  .sellmain__page__box__form__content__box__details
                    %label
                      発送までの日数
                      %span.require_sheet 必須
                    .select-block
                      %i.icon-arrow-bottom
                      %select.select-block__choice




  %footer.sellfooter
    %nav
      %ul.clearfix
        %li
          =link_to "プライバリーポリシー","https://www.mercari.com/jp/privacy/"
        %li
          =link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
        %li
          =link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
    =link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2482339763",alt: "mercari", height: "65", width: "80"), "https://www.mercari.com/jp/", class: "sellfooter__icon"
    %p
      %small © 2019 Mercari
