.default-meinpage

  .pc-header-guide
    = render partial: 'items/header_guide'
  .recommended

    .home-advertisement
      広告表示　　　
      　　　　　　　　写真
    .homemein-new-items
      アイテムボックス
  .app-band
    アプリケーション飛ぶリンク
  .various-footer
    フッター下の部分
  .footer-exhibit-btn
    出品