.mypage-container {
  margin: 0 auto;
  width: 1020px;
  padding: 40px 0 40px;
  &__content {
    float: right;
    width: 700px;
    &__user-icon {
      height: 200px;
      position: relative;
      padding: 20px;
      background: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?716030");
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      >a {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        color: black;
      }
      & figure {
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
      }
      & h2 {
        margin: 8px 0 0;
        font-size: 14px;
      }
      &__number {
        margin: 8px 0 0;
        font-size: 0;
        & div {
          display: inline-block;
          font-size: 14px;
          & +div {
            margin: 0 0 0 16px;
          }
        }
      }
        & span {
          margin: 0 0 0 8px;
          font-size: 16px;
        }
      }
    &__tab-container-notification-todo {
      margin: 0;
      background: #fff;
      &__tabs {
        border: 0;
        background: #eee;
        font-size: 0;
        & li {
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          &.active {
            background: #fff;
            & a {
              border-top: 2px solid #ea352d;
            }
          }
        }
        & a {
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
        }
        &__nav-number {
          position: absolute;
          top: 50%;
          right: 32px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: #ea352d;
          text-align: center;
          line-height: 24px;
          color: #fff;
          transform: translate(0, -50%);
        }
      }
      &__tab-content {
        &__items {
          &.tab-pane {
            display: none;
            &.active {
              display: block;
            }
          }
          & li:first-child {
            border-bottom: 1px solid #eee;
          }
          & li:last-child {
            border: 0;
          }
          & li {
            position: relative;
            border-bottom: 1px solid #eee;
          }
          &__item {
            display: block;
            padding: 16px;
            color: #333;
            min-height: 80px;
            & figure {
              margin: 0;
              position: relative;
              overflow: hidden;
              float: left;
              width: 48px;
              height: 48px;
            }
            & img {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 100%;
            }
            &__body {
              margin: 0 40px 0 68px;
              &__text {
                overflow: hidden;
                max-height: 4.4em;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                line-height: 1.5;
              }
            }
            & time {
              display: inline-block;
              color: #888;
            }
            & .icon-time {
              margin: 0 8px 0 0;
            }
          }
          &__go-list {
            padding: 16px;
            & a {
              display: block;
              height: 56px;
              margin: 0 auto;
              background: #eee;
              color: #333;
              line-height: 56px;
              text-align: center;
            }
          }
        }
      }
    }
    &__tab-container {
      margin: 40px 0 0;
      background: #fff;
      &__head {
        padding: 0 16px;
        background: #fafafa;
        font-size: 16px;
        line-height: 72px;
      }
      &__tabs {
        border: 0;
        background: #eee;
        font-size: 0;
        & li {
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          &.active {
            background: #fff;
            & a {
              border-top: 2px solid #ea352d;
            }
          }
        }
        & a {
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
        }
      }
      &__tab-content {
        &__items {
          &.tab-pane {
            display: none;
            &.active {
              display: block;
            }
          }
          & li:first-child {
            border-bottom: 1px solid #eee;
          }
          & li:last-child {
            border: 0;
          }
          & li {
            position: relative;
            border-bottom: 1px solid #eee;
          }
          &__item {
            display: block;
            padding: 16px;
            color: #333;
            min-height: 80px;
            & figure {
              margin: 0;
              position: relative;
              overflow: hidden;
              float: left;
              width: 48px;
              height: 48px;
            }
            & img {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 100%;
            }
            &__body {
              margin: 0 40px 0 68px;
              &__text {
                overflow: hidden;
                max-height: 4.4em;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                line-height: 1.5;
              }
            }
          }
          &__go-list {
            padding: 16px;
            & a {
              display: block;
              height: 56px;
              margin: 0 auto;
              background: #eee;
              color: #333;
              line-height: 56px;
              text-align: center;
            }
          }
          &__item-not {
            padding: 160px 0 60px;
            background: url("https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?716030");
            background-repeat: no-repeat;
            background-position: center 40px;
            background-size: 78px 85px;
            text-align: center;
            font-size: 16px;
            color: #ccc;
          }
        }
      }
    }
  }

  &__side {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    &__nav {
      &__list {
        & li:first-child {
          border: 0;
        }
        & li {
          border-top: 1px solid #eee;
        }
        &__item {
          &.active {
            background: #eee;
            font-weight: 600;
          }
          position: relative;
          display: block;
          max-height: 48px;
          padding: 16px;
          background: #fff;
          font-size: 14px;
          color: #333;
          &__nav-number {
            position: absolute;
            top: 50%;
            right: 32px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #ea352d;
            text-align: center;
            line-height: 24px;
            color: #fff;
            transform: translate(0, -50%);
          }
        }
      }
      &__head {
        margin: 40px 0 0;
        font-size: 16px;
      }
    }
  }

}

body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

main {
  display: block;
}

h2 {
  line-height: 1.4;
  font-size: 22px;
}

h3 {
  font-size: 22px;
}

a {
  text-decoration: none;
  touch-action: manipulation;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

img {
  vertical-align: middle;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bold {
  font-weight: bold;
}

.mypage-container__content__tab-container-notification-todo__tabs__nav-number {
  top: 16px;
  right: 2px;
}

.hidden-large {
  display: none;
}

.lazyloaded {
  opacity: 1;
  transition: opacity .3s;
}