// 基本となるスタイルのグループです。このグループより下の行にスタイルのimportお願いします！
// base style group start
@import "./reset";
@import "font-awesome";
@import "./mixins/mixin";
@import "./config/variable";
// base style group end

@import "./modules/header_guide";
@import "./modules/category";
@import "./modules/footer";
@import "./modules/footer_btn";
@import "./modules/banner";
@import "./modules/mypage";
@import "./modules/logout";
@import "./modules/identification";
@import "./modules/index-card";
@import "./modules/new-card";
@import "./modules/logo-header";
@import "./modules/logo-footer";
@import "./modules/conformation";
