- unless defined? items
  - if defined? limit
    - items = category.belongs_items(limit)
  - else
    - items = category.belongs_items

.main__product__contener

  - if current_page?(root_path)
    .main__product__contener__name{id: category.id}
      %h3=category.name
      = link_to "もっと見る ", category_path(category), class:"more_see"

  - elsif current_page?(category)
    .main__product__contener__name
      %h3="#{category.name}の商品一覧 #{'(' + items.current_page.to_s + ' ページ目)' unless items.first_page?}"

  .main__collection
    .main__collection__box
      = render partial: items, locals: { category: category }
